{% extends 'base.html.twig' %}

{% block body %}
    <h1>Weryfikacja dwuetapowa</h1>
    <form method="post" action="{{ path('2fa_login_check') }}">
        <div class="form-group">
            <label for="code">Authentication Code</label>
            <input type="text" id="code" name="code" class="form-control" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('2fa') }}">
        </div>
        <button type="submit" class="btn btn-primary">Verify</button>
    </form>
{% endblock %}
