{% extends 'base.html.twig' %}

{% block title %}Zasady{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="mb-4">Zasady korzystania</h1>

        <p>Zasady gry i użytkowania.</p>

        <ul>
            <li>Nie spamuj.</li>
            <li>Szanuj innych użytkowników.</li>
            <li>Nie używaj aplikacji do celów niezgodnych z prawem.</li>
        </ul>
    </div>
{% endblock %}
