{% extends 'base.html.twig' %}

{% block title %}Kontakt{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-7">
                <h1 class="display-5 fw-bold text-center mb-3">Zostańmy w kontakcie!</h1>
                <p class="lead text-muted text-center mb-4">Masz pytania? Skontaktuj się z nami – chętnie pomożemy!</p>

                <div class="card border-0 rounded-4 p-4 mx-auto" style="max-width: 420px;">
                    <div class="mb-3 text-center">
                        <h5 class="fw-semibold mb-1">Email</h5>
                        <a href="mailto:biuro@sc.org.pl" class="text-decoration-none text-dark">biuro@sc.org.pl</a>
                    </div>

                    <div class="mb-3 text-center">
                        <h5 class="fw-semibold mb-1">Telefon</h5>
                        <a href="tel:+48184411994" class="text-decoration-none text-dark">18 44 11 994</a>
                    </div>

                    <div class="mb-3 text-center">
                        <h5 class="fw-semibold mb-2">Znajdziesz nas również:</h5>
                        <div class="d-flex justify-content-center gap-4 fs-4">
                            <a href="https://www.facebook.com/Stowarzyszenie.sursum.corda/" target="_blank" class="text-primary">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://www.instagram.com/stowarzyszenie.sursum.corda/" target="_blank" class="text-danger">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://www.youtube.com/user/SursumCorda2000" target="_blank" class="text-danger">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <img src="{{ asset('images/sursum-carda.png') }}" alt="Sursum Corda" class="img-fluid rounded" style="max-height: 400px;">
            </div>
        </div>
    </div>
{% endblock %}
