{% block body %}
    <div class="container">
        <ol>
            <li>Administratorem podanych w formularzu danych osobowych jest Stowarzyszenie Sursum Corda, ul. Lwowska 11, 33-300 Nowy Sącz, tel.: 18 44 11 994. </li>
            <li>Dane osobowe będziemy przetwarzać w celu przeprowadzenia konkursu. </li>
            <li>Dane osobowe będą przetwarzane na podstawie prawnie uzasadnionego interesu Stowarzyszenia, którym jest realizacja działań statutowych Stowarzyszenia (art. 6 ust. 1 lit f) RODO).</li>
            <li>Ponadto dane osobowe mogą być przetwarzane w celach sprawozdawczych i dokumentacyjnych oraz w celu obrony i dochodzenia przez Administratora ewentualnych roszczeń, co również stanowi prawnie uzasadniony interes Administratora (art. 6 ust. 1 lit f) RODO).</li>
            <li>Podanie danych jest dobrowolne, ale konieczne w celu podjęcia współpracy. Brak podania danych będzie wiązał się z niemożliwością podjęcia współpracy.</li>
            <li>Dane osobowe mogą być przekazywane innym podmiotom współpracującym ze Stowarzyszeniem w zakresie i w celu, w jakim podmioty te udzielają nam wsparcia (np. dostawcy aplikacji wykorzystywanych do realizacji szkolenia).</li>
            <li>Twoje dane osobowe nie będą przekazywane do innych krajów poza Unią Europejską (państwa trzeciego).</li>
            <li>Twoje dane osobowe będą przechowywane przez okres 5 lat.</li>
            <li>Masz prawo żądać dostępu do swoich danych osobowych, ich sprostowania, usunięcia, ograniczenia przetwarzania oraz do przenoszenia danych na zasadach wynikających z art. 20 RODO.</li>
            <li>Masz prawo do wniesienia sprzeciwu z przyczyn związanych z jego szczególną sytuacją wobec przetwarzania danych w celu wynikającym z prawnie uzasadnionych interesów Stowarzyszenia.</li>
            <li>Przysługuje Ci skarga do Prezesa Urzędu Ochrony Danych Osobowych (ul. Stawki 2, 00-193 Warszawa).</li>
        </ol>
        <p>
            Szczegółowe informacje dotyczące przetwarzania danych, praw użytkownika oraz kontaktów znajdują się
            w naszej polityce prywatności. Jeśli masz pytania, skontaktuj się z nami pod adresem: <a href="mailto:privacy@example.com">przyszły_adres</a>.
        </p>
        <p>
            Not sure czy to potrzebne, czy nie, ale na razie dałem, jakby chcieli dać odnośnik do swojej polityki ;?
        </p>
    </div>
{% endblock %}