{% extends 'base.html.twig' %}

{% block title %}MenuView{% endblock %}

{% block body %}
    <div class="container mt-4 d-flex flex-column align-items-center">
        <h1>MenuView</h1>
        <p>nie wiem co tu by mialo byc powiedziane ale zostawiam miejsce bo moze cos bedzie mowione</p>

        <div class="d-flex flex-column gap-3 mt-4" style="width: 200px;">
            <a href="{{ path('app_quiz_list') }}" class="btn btn-primary w-100">Quizy</a>
            <a href="{{ path('user_edit') }}" class="btn btn-secondary w-100">Edytuj dane</a>
            <a href="{{ path('app_logout') }}" class="btn btn-danger w-100">Wyloguj</a>
        </div>
    </div>
{% endblock %}
